<h1>Online Mall</h1>

<form method="post" action="/checkout">
  <p>Available items: boots, shirts, pants</p>
  <textarea name="item"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
